[user]
	name = Tushar Gohad
	email = tushar.gohad@intel.com
[http "https://github.com"]
	proxy = http://proxy-dmz.intel.com:912
[http "https://lfs.github.com"]
	proxy = http://proxy-dmz.intel.com:912
[http "https://github-cloud.s3.amazonaws.com"]
	proxy = http://proxy-dmz.intel.com:912
[http "https://github-cloud.githubusercontent.com"]
	proxy = http://proxy-dmz.intel.com:912
[fetch]
	prune = true
[credential "https://github.com"]
	helper = 
	helper = dtkeyring
[core]
	editor = vim
[credential]
	helper = store
[http]
	postBuffer = 524288000
